*{
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: normal;
}
body{
	background-image: url("../img/bg.jpg");
}
header{
	background-color: #FFF;
	height: 100px;
}
nav{
	height: 50px;
	background: rgba(20,20,20,1);
}
#subheader{
	width: 1200px;
	margin: 0px auto;
	overflow: hidden;
}
#subnav{
	width: 1200px;
	margin:0px auto;
	overflow: hidden;
}
#Menu-adm{
	width: 900px;
	float: left;
}
.ico{
	width: 50px;
	float: left;
}
section{
	width: 1200px;
	margin:0px auto;
	background-color:#FFF;
}
/* -----------------------------------------------------------------------------------  */
.inputT{
	padding:2px 10px;
	text-align: right;
}
.inputTT{
	width: 200px;
	padding:2px;
	font-size: 14px;
	border:0px;
	border:1px solid #999;
	border-radius: 3px;
}
.label{
	font-size: 16px;
	font-weight: bolder;
}
.Cabeza{
	background-color: #424242;
	font-size: 16px;
	color: #FFF;
	text-align: center;
	padding: 2px 0px;
}
.center{
	text-align: center;
}
.espacio{
	padding:0px 10px;
}
.espacio1{
	padding:5px 10px;
	width: 700px;
	font-size: 16px;
}
.espacio2{
	padding:5px 10px;
	font-size: 16px;
}
.margen{
	margin-bottom: 5px;
}
.h1{
	font-size: 20px;
	font-weight: bolder;
}
#subheader img
{
	margin: 0px 10px 0px 5px;
}
#logosHeader
{
	width: 730px;
	float: left;
}
#sesionUser
{
	float: left;
	text-align: right;
	width: 469px;
	font-family: Arial,Verdana,Helvetica;
	font-size: 14px;
}
#sesionUser1
{
	text-align: right;
	font-family: Arial,Verdana,Helvetica;
	font-size: 14px;
	padding-right: 10px;
}
#sesionUser2
{
	text-align: right;
	padding: 10px 10px 0px 210px;
	font-family: Arial,Verdana,Helvetica;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
}
#sesionUser3
{
	text-align: right;
	padding: 10px 10px 0px 205px;
	font-family: Arial,Verdana,Helvetica;
	font-size: 12px;
	font-weight: bold;
	overflow: hidden;
}
#ImagenLogo
{
	height: 96px;
	width: 300px;
	float: left;
}
#IconoHome1
{
	width: 49px;
	background-color: #FFFFFF;
	text-align: right;
	float: left;
	height: 40px;
}
table{
	text-align: center;
}
#cuerpo{
	overflow: hidden;
}
.izquierda{
	float: left;
	width: 49%;
	padding: 5px;
	text-align: center;
}
.derecha input{
	margin: 2px;
}
.derecha{
	float: left;
	width: 49%;
	padding: 5px;
	text-align: center;
}
.icop{
	margin:2px 10px;
}
.mensaje{
	padding: 2px 0px;
	margin-top: 4px;
}
.mensaje1{
	padding: 2px 0px;
	margin-top: 4px;
	text-align: right;
}
/* Aviso administrativo estilos de este*/
.avisoc{
	width: 400px;
	border-radius: 0px 5px 5px 0px;
	background-color: #ABABD6;
	color: #000;
	font-weight: bolder;
	font-family: Arial, Verdana;
	font-size: 12px;
	box-shadow: 4px 4px 4px #000;
	padding: 2px 5px;
	text-align: left;
}
.avisof{
	width: 400px;
	border-radius: 5px 0px 0px 5px;
	background-color: #BEFF7D;
	color: #000;
	box-shadow: -4px 4px 4px #000;
	padding: 2px 5px;
	text-align: right;
	margin-left: 150px;
}
.avisog{
	width: 400px;
	border-radius: 5px 0px 0px 5px;
	background-color: #FF3C3C;
	color: #000;
	box-shadow: -4px 4px 4px #000;
	padding: 2px 5px;
	text-align: right;
	margin-left: 150px;
}
#avisos, #galeria{
	height: 400px;
	overflow: scroll;
}

.ima-gal{
	height: 150px;
	width: 277px;
	padding: 2px 2px;
	background-color: #bbb;
	margin: 2px;
	float: left;
}
.azul{
	color: #2F18F8;
}
.rojo{
	color: #E10000;
}
.boton-tool{
	margin: 5px 10px;
	padding:3px 10px;
	letter-spacing: 1px;
}
.fieldset{
	padding: 5px;
	margin-top: 5px;
	background-color: #f1f1f1;
	border-radius: 5px;
}
.legend{
	border: 2px solid #666;
	padding: 2px 5px;
	background-color: #D3D5CE;
	color: #343434;
	font-weight: bolder;
	border-radius: 5px;
}
/* Errores*/
.tablaError{
	width: 1200px;
	border: 2px solid #888;
	margin: 0px auto;
	background-color: #fff;
}
.tituloerror{
	padding: 10px;
	text-align: justify;
}
#upload{
        padding:12px;
        font:bold 12px Arial, Helvetica, sans-serif;
        text-align:center;
        background:#f2f2f2;
        color:#3366cc;
        border:1px solid #ccc;
        width:150px;
        display:block;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        margin:0 auto;
        text-decoration:none
    }
.Bot{
	padding: 4px 10px;
	margin:5px 10px;
	font-weight: bolder;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  color: #ffffff;
  padding: 5px 10px;
  margin: 4px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #0044cc;
}
.btn-primary .caret{
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.tool{
	width:100px;
	float: left;
}
.centro-cot{
	margin:10px auto;
	border:1px solid #000;
	width: 80%;
	overflow: hidden;
}
.cuadro20{
	float: left;
	width: 20%;
}
.cuadro60{
	float: left;
	width: 60%;
}
.centro1{
	padding-top: 20px;
	text-align: center;
}
.titulo{
	font-size: 18px;
	font-weight: bolder;
}
.limpio{
	clear: both;
}
.mitad{
	width: 48%;
	padding: 1%;
	float: left;
}