*{
  margin: 0px;
}
#menu ul,
#menu li,
#menu span,
#menu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#menu {
  height: 49px;
  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  background: rgba(20,20,20,1);
  border-bottom: 1px solid rgba(0,0,0,0.1);

}
#menu:after,
#menu ul:after {
  content: '';
  display: block;
  clear: both;
}
#menu a {
  background: rgba(20,20,20,1);
  color: #ffffff;
  display: inline-block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  line-height: 49px;
  padding: 0 20px;
  text-decoration: none;
}
#menu ul {
  list-style: none;
}
#menu > ul {
  float: left;
}
#menu > ul > li {
  float: left;
}
#menu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0,0,0,0.7);
  margin-left: -10px;
}
#menu > ul > li:first-child > a {
  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
}
#menu > ul > li:last-child > a {
  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius: 0;
}
#menu > ul > li.active > a {
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  background: #070707;
}
#menu > ul > li:hover > a {
  background: #070707;
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
}
#menu .has-sub {
  z-index: 1;
}
#menu .has-sub:hover > ul {
  display: block;
}
#menu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#menu .has-sub ul li {
  *margin-bottom: -1px;
}
#menu .has-sub ul li a {
  background: rgba(0,0,0,0.7);
  border-bottom: 1px dotted #424242;
  filter: none;
  font-size: 11px;
  display: block;
  line-height: 120%;
  padding: 10px;
}
#menu .has-sub ul li:hover a {
  background: rgba(0,0,0,0.8);
}
#menu .has-sub .has-sub:hover > ul {
  display: block;
}
#menu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#menu .has-sub .has-sub ul li a {
  background: rgba(0,0,0,0.5);
  border-bottom: 1px dotted #424242;
}
#menu .has-sub .has-sub ul li a:hover {
  background: rgba(0,0,0,0.9);
}